<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='layout.css')}}" />
    <link rel='stylesheet' href="{{url_for('static',filename='btn.css')}}" />
    {% if title%}
    <title>{{title}}</title>
    {%else%}
    <title>DayPath</title>
    {%endif%}
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
    {%block head%}
    {%endblock head%}
  </head>
  <body>
    <!-- NAV -->
    
      <!-- left links -->
      <nav class="nav-main">
        <div class="nav-container">
          <ul class="nav-container-ul">
            <li><a class="nav-link" id="link-about" href="{{url_for('home')}}">DayPath</a></li>
            <li><a class="nav-link" href="{{url_for('about')}}">About</a></li>
          </ul>
        </div>

        <!-- right links -->
        <div class="nav-container">
          <ul class="nav-container-ul">
            <li><a class="nav-link" href="{{url_for('pomotimer')}}">PomoTimer</a></li>
            {%if current_user.is_authenticated%}
            <li><a class="nav-link" href="{{url_for('account')}}">Account</a></li>

            <li><a class="nav-link" href="{{url_for('logout')}}">Log out</a></li>
            {%else%}
            <li><a class="nav-link" href="{{url_for('register')}}">Sign Up</a></li>
            <li><a class="nav-link" href="{{url_for('login')}}">Log in</a></li>


            {%endif%}

          </ul>
        </div>
      </nav>
      <!-- Content Rendered -->
      {%block content%}
      {%endblock%}

    

  </body>
  {%block code%}
  {%endblock code%}
</html>
